streamlit==0.89.0
pandas==1.1.4
numpy==1.9.0
googletrans==3.1.0a0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu
allennlp==2.1.0 
allennlp-models==2.1.0
python-youtube=0.8.1
yake==0.4.8